In [5]:
import pandas as pd
import numpy as np

In [6]:
# Read the data into a Pandas dataframe
df = pd.read_parquet(path='./outage_data.parquet', engine='pyarrow')

# Remove duplicate entries in 2019
# Remove all rows with SimStartDate after 2019-01-01 and event_type == 'thunderstorm'
df = df.loc[~((df['SimStartDate'] > '2019-01-01') & (df['event_type'] == 'thunderstorm'))]
df.describe()

,breaker_counts,fuse_counts,switch_counts,transformer_counts,recloser_counts,pole_counts,grid_id,outage_count,x,y,...,canopy_interval_71_80_60,canopy_interval_81_90_60,canopy_interval_91_100_60,canopy_mean_60,canopy_median_60,canopy_var_60,length_proxy_30,line_length_30,length_proxy_60,line_length_60
count,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,7.515200e+04,...,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,75152.000000,7.515200e+04,7.515200e+04,7.515200e+04,7.515200e+04
mean,2.153689,93.809426,24.516393,328.192623,6.491803,1155.500000,243.500000,0.489940,63859.779114,1.198521e+06,...,0.106869,0.034790,0.000189,29.837696,28.834016,453.072222,2.942549e+05,4.720946e+06,4.973358e+05,4.720946e+06
std,4.329085,86.394655,34.519465,307.756527,7.954581,1075.414373,140.874107,1.356861,57254.344305,1.524949e+04,...,0.116302,0.064809,0.001851,19.703477,24.602453,263.134070,2.628181e+05,4.422564e+06,4.090464e+05,4.422564e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-28082.000000,1.165209e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.160000e+02,0.000000e+00,1.106000e+03,0.000000e+00
25%,0.000000,21.000000,2.000000,64.000000,0.000000,288.000000,121.750000,0.000000,16918.000000,1.186893e+06,...,0.004917,0.000000,0.000000,11.905220,0.000000,251.758973,8.346350e+04,1.169986e+06,1.532600e+05,1.169986e+06
50%,0.000000,73.000000,11.000000,237.000000,3.000000,885.500000,243.500000,0.000000,52918.000000,1.201209e+06,...,0.062440,0.005809,0.000000,31.113005,26.000000,506.095082,2.260190e+05,3.405802e+06,4.117480e+05,3.405802e+06
75%,2.000000,141.250000,34.000000,512.500000,10.000000,1663.750000,365.250000,0.000000,103918.000000,1.210209e+06,...,0.173633,0.036777,0.000000,46.485635,47.000000,638.942526,4.424790e+05,7.083961e+06,7.661815e+05,7.083961e+06
max,36.000000,450.000000,281.000000,1291.000000,45.000000,4724.000000,487.000000,48.000000,262365.000000,1.237893e+06,...,0.500000,0.641975,0.037846,78.185185,83.000000,1305.809392,1.056230e+06,1.762393e+07,1.508426e+06,1.762393e+07

In [9]:
features = pd.read_csv('./features.csv')

In [15]:
df['(10 metre wind speed_m s**-1 (max)_lambert_level 10 m-0)^1'].value_counts().sort_index()

(10 metre wind speed_m s**-1 (max)_lambert_level 10 m-0)^1
94.930213     1
99.730213     2
101.130212    1
102.030214    1
103.130213    2
             ..
773.406039    1
774.806045    1
779.006043    1
788.606043    1
792.806043    1
Name: count, Length: 65493, dtype: int64

In [13]:
df['outage_count'].value_counts()

outage_count
0.0     56593
1.0     10872
2.0      3886
3.0      1691
4.0       813
5.0       476
6.0       264
7.0       174
8.0       102
9.0        70
10.0       46
11.0       37
12.0       24
16.0       15
13.0       12
14.0       12
15.0       11
17.0        9
18.0        6
19.0        5
24.0        4
28.0        4
22.0        4
25.0        3
30.0        2
23.0        2
26.0        2
36.0        2
33.0        2
38.0        2
20.0        2
41.0        1
34.0        1
48.0        1
42.0        1
35.0        1
Name: count, dtype: int64

In [10]:
features

                       0
0         breaker_counts
1            fuse_counts
2          switch_counts
3     transformer_counts
4        recloser_counts
...                  ...
4104       canopy_var_60
4105     length_proxy_30
4106      line_length_30
4107     length_proxy_60
4108      line_length_60

[4109 rows x 1 columns]